.navbar-area {
    height: 80px;
    background-color: #0272ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.navbar-area-logo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.navbar-area-search {
    display: flex;
}

.navbar-area-search input {
    width: 700px;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0 20px;
}

.navbar-area-search button {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    border-radius: 50%;
    position: relative;
    right: 45px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-area-search img {
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.navbar-area-action {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar-area-action button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    margin-right: 10px;
}

.navbar-area-action button:hover {
    background-color: #003568;
}

.register-screen-area, .login-screen-area {
    height: 100vh;
}

.register-area, .login-area {
    height: 100%;
    background-image: url("/public/bg-login-vdF.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-area-content, .login-area-content, .admin-home-middle-form {
    width: 500px;
    height: 80%;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
}
.register-area-content {
    height: 90%;
}

.admin-home-middle-form {
    position: absolute;
    left: 35%;
}

.register-area-content-title, .login-area-content-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.form-password-area, .form-birthday-gender, .form-name-area, .form-phone-username {
    display: flex;
}

.policy-content {
    cursor: pointer;
}

.policy-content:hover {
    text-decoration: underline;
}

.nav-admin, .nav-staff, .nav-user {
    height: 50px;
    background: white;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */

}

.nav-admin-item, .nav-staff-item {
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;

}

.nav-admin-item:hover, .nav-staff-item:hover {
    cursor: pointer;
}

.admin-home-area {
}
.staff-home-area {
    height: 100%;
}

.admin-home-content, .staff-home-content {
    display: flex;
    width: 100%;
    /*height: 100%;*/
    background-image: url("/public/bg-login-vdF.jpg");
    height: 81.5vh;
}

.admin-home-left, .admin-home-right, .staff-home-left, .staff-home-right {
    width: 5%;
}

.admin-home-middle, .staff-home-middle {
    width: 90%;
}

.admin-home-middle-header, .staff-home-middle-header {
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
    color: black;
}

.staff-home-middle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td {
    font-size: 14px;
}

.hidden-password-button, .show-password-button {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
}

.image-product-item {
    color: #0000EE;
    cursor: pointer;
}

.image-product-item:hover {
    text-decoration: underline;
}

.previous-image, .next-image {
    position: absolute;
    top: 45%;
    border: none;
    outline: none;
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-image {
    left: 3px;
}

.next-image {
    right: 4px;
}

.post-detail-image-item-one img {
    width: 100%;
}

.form-group small {
    color: red;
    margin-left: 5px;
}
.price-uint-area {
  display: flex;
}
#price-uint-area-price {
  width: 40%;
  margin-right: 5%;
}
#price-uint-area-productUnit {
  width: 25%;
    margin-right: 5%;
}
#price-uint-area-quantity {
    width: 25%;
}
.post-detail-image-item-one {
    padding: 0 30px;
}
.user-action {
    position: absolute;
    right: 5px;
    top: 65px;
    background-color: #e5e5e5;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}
.user-action-item {
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
#td-product-name:hover {
    text-decoration: underline;
}
.show-image-edit-product {
    cursor: pointer;
    color: blue;
}
.show-image-edit-product:hover{
    text-decoration: underline;
}
.edit-image-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.edit-image-content{
    width: 100%;
    height: 250px;
    display: flex;
    overflow-x: auto;
}
.edit-image-item {
    width: 32%;
    height: 230px;
    border: 1px solid #e5e5e5;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    margin-right: 2%;
    flex-shrink: 0;
}
.edit-image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit-image-item button {
    position: absolute;
    top: 5px;
    right: 5px;
}
.add-image-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e5e5e5;
    outline: none;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;

}
.add-image-button:hover{
    background-color: #f2f2f2;
}
.add-image-button-name {
    font-weight: 500;
    color: #212529;
    margin-right: 20px;
}
.add-image-button-icon {
    color: green;
    font-size: 20px;
}
.pagination {
    display: flex;
    justify-content: center; /* Căn giữa nội dung */
    margin-top: 20px; /* Khoảng cách phía trên */
}

.pagination button {
    background-color: #007bff; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 10px 15px; /* Padding cho nút */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Hiển thị con trỏ khi hover */
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu */
}

.pagination button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}

.pagination button:disabled {
    background-color: #cccccc; /* Màu nền cho nút bị vô hiệu hóa */
    cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
}

.user-home-header {
    padding: 10px 50px;
    border-bottom: 1px solid #e5e5e5;
}
.user-home-header-top {
    display: flex;
}
.user-home-header-top-home {
    color: #007bff;
    font-size: 15px;
    cursor: pointer;
    margin-right: 5px;
}
.user-home-header-top-home:hover {
    text-decoration: underline;
}
.user-home-header-top-brand-name {
    margin-left: 5px;
    font-size: 15px;
    color: #7a7e80;
}
.user-home-header-bottom-left {
    font-size: 20px;
    color: #007bff;
}
.user-home-header-bottom {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}
.user-home-header-bottom-right {
    color: #7a7e80;
    margin-left: 20px;
    font-size: 18px;
}
.user-home-middle {
    padding: 30px 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.user-home-middle-item {
    width: 18%; /* Chiếm 18% chiều rộng */
    margin: 1%; /* Khoảng cách giữa các phần tử */
    box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
    padding: 10px; /* Padding cho phần tử */
    background-color: #f8f9fa; /* Màu nền */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Bo góc */
    text-align: center; /* Căn giữa chữ */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    min-height: 440px;
    max-height: 460px;
}
.imgProductUser img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    margin-top: 10px;
}
.user-home-middle-item-price {
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
}
.price-origin-component {
    text-align: left;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.price-origin-component-price {
    color: #7a7e80;
    margin-right: 10px;
    text-decoration: line-through;
}
.price-origin-component-percent {
    color: #eb2030;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #ffd1d1;
    font-size: 13px;
    font-weight: 500;
}
.user-home-middle-item-productNm {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}
.user-home-middle-item-button {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
}
.btn-like-product {
    border-radius: 50%;
    outline: none;
    border: 1px solid #606060;
    color: #606060;
    margin-right: 65px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.btn-like-product:hover{
    background-color: #71b4ff;
    color: #ffffff;
    border: none;
}
.user-home-middle-item-point-area {
    position: absolute;
    right: 5px;
    top:5px;
}
.user-home-middle-item-point{
    font-style: italic; /* Chữ nghiêng */
    color: #FFD700; /* Màu vàng đồng */
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: relative;
}
.user-home-middle-item-point-area {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: red;
}
.user-home-middle-item-point-des {
    font-size: 8px;
    font-style: italic; /* Chữ nghiêng */
    color: #FFD700;
    font-weight: bold;
    position: absolute;
    bottom: 14px;
    right: 7px;
}