.navbar-area {
    height: 80px;
    background-color: #0272ba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000; /* Đảm bảo navbar nằm trên các phần tử khác */

}
.navbar-area-logo {
    cursor: pointer;
}

.navbar-area-logo img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.navbar-area-search {
    display: flex;
}

.navbar-area-search input {
    width: 700px;
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 0 20px;
}

.navbar-area-search button {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    border-radius: 50%;
    position: relative;
    right: 45px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-area-search img {
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.navbar-area-action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-area-action button, .nav-staff-right button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    margin-right: 10px;
}

#btnLikeProduct, #btnCartProduct, #btnNotification {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-area-action button:hover {
    background-color: #003568;
}

.register-screen-area, .login-screen-area,.find-password-area  {
    height: 100vh;
}

.register-area, .login-area,.find-password-content {
    height: 100%;
    background-image: url("/public/bg-login-vdF.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-area-content, .login-area-content, .admin-home-middle-form, .find-password-content-area {
    width: 500px;
    height: 80%;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
}
.find-password-content-area {
    height: 30%;
}

.register-area-content {
    height: 90%;
}

.admin-home-middle-form {
    position: absolute;
    left: 35%;
}

.register-area-content-title, .login-area-content-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
}

.form-password-area, .form-birthday-gender, .form-name-area, .form-phone-username {
    display: flex;
}

.policy-content {
    cursor: pointer;
}

.policy-content:hover {
    text-decoration: underline;
}

.nav-admin, .nav-user {
    height: 50px;
    background: white;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nav-staff {
    height: 60px;
    background: #0272ba;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.nav-staff-left, .nav-staff-right {
    display: flex;
    align-items: center;
}

.nav-admin-item, .nav-staff-item {
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;

}
.nav-staff-item {
    color: white;
}
.nav-admin-item:hover, .nav-staff-item:hover {
    cursor: pointer;
}

.admin-home-area {
}

.staff-home-area {
    height: 100%;
}

.admin-home-content, .staff-home-content {
    display: flex;
    width: 100%;
    /*height: 100%;*/
    background-image: url("/public/bg-login-vdF.jpg");
    height: 81.5vh;
    margin-top: 130px;
}
.staff-home-content {
    margin-top: 60px;
}
.admin-home-left, .admin-home-right, .staff-home-left, .staff-home-right {
    width: 5%;
}

.admin-home-middle, .staff-home-middle {
    width: 90%;
}

.admin-home-middle-header, .staff-home-middle-header {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.staff-home-middle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 10px 0;
}

td {
    font-size: 14px;
}

.hidden-password-button, .show-password-button {
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
}

.image-product-item {
    color: #0000EE;
    cursor: pointer;
}

.image-product-item:hover {
    text-decoration: underline;
}

.previous-image, .next-image {
    position: absolute;
    top: 45%;
    border: none;
    outline: none;
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-image {
    left: 3px;
}

.next-image {
    right: 4px;
}

.post-detail-image-item-one img {
    width: 100%;
}

.form-group small {
    color: red;
    margin-left: 5px;
}

.price-uint-area {
    display: flex;
}

#price-uint-area-price {
    width: 40%;
    margin-right: 5%;
}

#price-uint-area-productUnit {
    width: 25%;
    margin-right: 5%;
}

#price-uint-area-quantity {
    width: 25%;
}

.post-detail-image-item-one {
    padding: 0 30px;
}

.user-action {
    position: absolute;
    right: 5px;
    top: 65px;
    background-color: #e5e5e5;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}

.user-action-item {
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

#td-product-name:hover {
    text-decoration: underline;
}

.show-image-edit-product {
    cursor: pointer;
    color: blue;
}

.show-image-edit-product:hover {
    text-decoration: underline;
}

.edit-image-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.edit-image-content {
    width: 100%;
    height: 250px;
    display: flex;
    overflow-x: auto;
}

.edit-image-item {
    width: 32%;
    height: 230px;
    border: 1px solid #e5e5e5;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    margin-right: 2%;
    flex-shrink: 0;
}

.edit-image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.edit-image-item button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.add-image-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e5e5e5;
    outline: none;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 100%;

}

.add-image-button:hover {
    background-color: #f2f2f2;
}

.add-image-button-name {
    font-weight: 500;
    color: #212529;
    margin-right: 20px;
}

.add-image-button-icon {
    color: green;
    font-size: 20px;
}

.pagination {
    display: flex;
    justify-content: center; /* Căn giữa nội dung */
    margin-top: 20px; /* Khoảng cách phía trên */
}

.pagination button {
    background-color: #007bff; /* Màu nền */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 10px 15px; /* Padding cho nút */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Hiển thị con trỏ khi hover */
    transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu */
}

.pagination button:hover {
    background-color: #0056b3; /* Màu nền khi hover */
}

.pagination button:disabled {
    background-color: #cccccc; /* Màu nền cho nút bị vô hiệu hóa */
    cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
}

.user-home-detail, .cart-screen {
    margin-top: 130px;
}

.user-home-header, .cart-screen-header {
    padding: 10px 50px;
    border-bottom: 1px solid #e5e5e5;
}

.user-home-header-top, .cart-screen-header-top {
    display: flex;
}

.user-home-header-top-home, .cart-screen-header-top-home {
    color: #007bff;
    font-size: 15px;
    cursor: pointer;
    margin-right: 5px;
}

.user-home-header-top-home:hover, .cart-screen-header-top-home:hover {
    text-decoration: underline;
}

.user-home-header-top-brand-name, .cart-screen-header-top-brand-name {
    margin-left: 5px;
    font-size: 15px;
    color: #7a7e80;
}

.user-home-header-bottom-left {
    font-size: 20px;
    color: #007bff;
}

.cart-screen-header-bottom-left {
    font-size: 28px;
    color: #005c98;
    font-weight: 500;
    letter-spacing: .28px;
    line-height: normal;
}

.user-home-header-bottom, .cart-screen-header-bottom {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

.user-home-header-bottom-right {
    color: #7a7e80;
    margin-left: 20px;
    font-size: 18px;
}

.user-home-middle {
    padding: 30px 5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.user-home-middle-item {
    width: 18%; /* Chiếm 18% chiều rộng */
    margin: 1%; /* Khoảng cách giữa các phần tử */
    box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
    padding: 10px; /* Padding cho phần tử */
    background-color: #f8f9fa; /* Màu nền */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; /* Bo góc */
    text-align: center; /* Căn giữa chữ */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    min-height: 500px;
    max-height: 600px;
}


.imgProductUser {
    padding: 10px;
    width: 100%;
    height: 280px;
    position: absolute;
    left: 0;
    bottom: 210px;
}

.imgProductUser img {
    width: 100%;
    height: auto;
    object-fit: cover;

}


.user-home-middle-item-price {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    position: absolute;
    bottom: 160px;

}

.price-origin-component {
    text-align: left;
    margin-top: 5px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 130px;
}

.price-origin-component-price {
    color: #7a7e80;
    margin-right: 10px;
    text-decoration: line-through;

}

.price-origin-component-percent {
    color: #eb2030;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #ffd1d1;
    font-size: 13px;
    font-weight: 500;
}
.user-home-middle-item-quantity {
    position: absolute;
    bottom: 100px;
}
.user-home-middle-item-productNm {
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    position: absolute;
    bottom: 80px;
    font-weight: 400;
    line-height: normal;
}

.user-home-middle-item-button {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.btn-like-product {
    border-radius: 50%;
    outline: none;
    border: 1px solid #606060;
    color: #606060;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.btn-like-product:hover {
    background-color: #71b4ff;
    color: #ffffff;
    border: none;
}

.user-home-middle-item-point-area {
    position: absolute;
    right: 5px;
    top: 5px;
}

.user-home-middle-item-point {
    font-style: italic; /* Chữ nghiêng */
    color: #FFD700; /* Màu vàng đồng */
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: relative;
}

.user-home-middle-item-point-area {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: red;
}

.user-home-middle-item-point-des {
    font-size: 10px;
    font-style: italic; /* Chữ nghiêng */
    color: #FFD700;
    font-weight: bold;
    position: absolute;
    bottom: 14px;
    right: 13px;
}

.cart-area {
    position: relative;
}

.totalProductCart {
    position: absolute;
    top: 0;
    left: 25px;
    background: #cf0b0b;
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.edit-quantity-product, .cart-detail-area-content-item-quantity {
    background-color: #0272BA;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.edit-quantity-product button, .cart-detail-area-content-item-quantity button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
}

.productQuantity {
    color: white;
    font-weight: bold;
}

.cart-detail-area, .notification-detail-area {
    position: fixed;
    top: 80px;
    right: 0;
    width: 50%;
    min-height: 50vh;
    max-height: 80vh;
    z-index: 2000;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.5); /* Đổ bóng */
    overflow-y: auto;

}

.cart-detail-area-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-detail-area-header-left {
    display: flex;
    align-items: center;
}

.cart-detail-area-header-left-title {
    font-weight: 500;
    font-size: 24px;
    color: #0272ba;
    margin-right: 5px;
}

.cart-detail-area-header-left-des, .cart-detail-area-header-right {
    color: #7a7e80;
    font-size: 16px;
    font-weight: 400;
}

.cart-detail-area-header-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-detail-area-header-right-text {
    margin-right: 5px;
}

.cart-detail-area-content {
    min-height: 280px;
    max-height: 52vh;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    overflow-y: auto;
    background-color: #f2f2f2;
}

.cart-detail-area-content-item {
    display: flex;
    height: 100px;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 0 20px;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cart-detail-area-content-item-name-price {
    width: 40%;
}

.cart-detail-area-content-item-quantity {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-detail-area-content-item-total {
    width: 20%;
    margin-left: 10px;
}

.cart-detail-area-content-item-delete {
    width: 5%;
    color: #005c98;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
}

.cart-detail-bottom-left {
    color: #005c98;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
}

.cart-detail-area-content-item-total-top {
    color: #7a7e80;
    font-size: 14px;
    font-weight: 400;
}

.cart-detail-area-content-item-total-bottom {
    color: #e82230;
    font-weight: bold;
    font-size: 16px;
}

.cart-detail-area-content-item-image {
    width: 100px;
    height: 100%;
    margin-right: 20px;

}

.cart-detail-area-content-item-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cart-detail-area-content-item-index {
    width: 5%;
    padding: 5px;
    background-color: #f2f2f2;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-right: 10px;

}

.cart-detail-area-content-item-price {
    font-weight: bold;
}

.product-quantity-cart {
    color: white;
    font-weight: 500;
}

.pagination {
    margin-bottom: 10px;
}

.cart-detail-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.cart-detail-bottom-right {
    display: flex;
    align-items: center;
}

.cart-detail-bottom-right-left {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-right: 5px;
}

.cart-detail-bottom-right-right {
    font-size: 20px;
    color: #e82230;
    font-weight: bold;
}

#see-cart {
    font-size: 18px;
    width: 100%;
}

.no-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-content img {
    width: 150px;
    height: 150px;
}

.no-content-text {
    font-size: 18px;
    font-weight: 500;
}

.cart-screen-middle, .order-area {
    padding: 1.5% 5%;
    display: flex;
}

.cart-screen-middle-left, .order-area-left {
    background-color: #f8f8f8;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    margin-right: 2%;
}

.cart-screen-middle-right {
    width: 40%;
    background-color: #f8f8f8;
    padding: 20px;
    height: 350px;
    border-radius: 10px;
}
.order-area-right {
    width: 40%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}
.order-area-right-total {
  float: right;
    margin-top: -20px;
    font-size: 15px;
    line-height: normal;
}

.cart-screen-middle-left-header, .cart-screen-middle-right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart-screen-middle-right-header {
    border-bottom: 1px solid #e5e5e5;
}

.cart-screen-middle-content {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}
.cart-screen-middle-right-content {
    background-color: white;
}

.cart-screen-middle-right-content-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cart-screen-middle-right-content-item-left {
    font-size: 16px;
    color: #2a2f33;
    font-weight: 400;
    line-height: normal;
}

.cart-screen-middle-right-content-item-right {
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
}
.cart-screen-no-content {
    margin-top: 130px; /* Khoảng cách từ trên xuống */
    display: flex;
    flex-direction: column; /* Sắp xếp theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    text-align: center; /* Căn giữa nội dung văn bản (nếu có) */
    height: 80vh;
}
.cart-screen-no-content-text {
    color: #2a2f33;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    display: block;
}
.cart-screen-no-content-img, .cart-screen-no-content-text {
    margin-bottom: 10px;
}
.cart-screen-no-content-btn button {
    font-size: 20px;
    font-weight: 500;
}
.order-area-left-header {
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
}
.order-area-left-user-info-title {
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    color: #0272ba;
    margin-bottom: 10px;
}
.order-area-left-user-info, .order-area-left-address {
    display: flex;
    flex-direction: column;
    background-color: #feffff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
.order-area-left-user-info-item {
    padding: 5px 0;
}
.order-area-left-address-top {
    font-weight: 500;
}
.order-area-left-address-bottom {
    color: #7a7e80;
}
textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding:10px 20px;
    border: 1px solid #dbdbdb;
    color: #7a7e80;
    outline: none;
}
#note-order {
    color: #7a7e80;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .12px;
}
.order-area-left-content {
    margin-top: 10px;
    max-height: 320px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.find-password-content-header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.notification-area {
    position: relative;
}
.notification-detail-area-content-item {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification-detail-area-content-item-top {
    font-weight: 500;
    display: flex;
    align-items: center;
}
.notification-detail-area-content-item-bottom {
    font-size: 13px;
}
.staff-home-middle-header-filter {
    display: flex;
    flex-direction: column;
    padding: 10px ;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
}
.staff-home-middle-header-filter-top, .staff-home-middle-header-filter-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.staff-home-middle-header-filter-bottom {
    margin-top: 20px;
}
.staff-home-middle-header-filter-user {
    margin-right: 10px;
}
.staff-home-middle-header-filter-user label {
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}

.staff-home-middle-header input, .staff-home-middle-header select {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    width: 52%;
}
.orderList-content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.orderList-content-header-total {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.user-order-list-area {
    height: 100vh;
    padding: 0 5%;
}
.user-product-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.user-product-item {
    display: flex; align-items: center;
}
.user-product-item-index {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.user-product-item-quantity, .user-product-item-total {
    color: black;
    margin-right: 10px;
}
.chat-icon {
    font-size: 30px;
    position: fixed;
    right: 30px;
    bottom: 20px;
    color: #007bff;
    cursor: pointer;
}
.chat-popup-area {
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 250px;
    height: 350px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: white;
}
.chat-popup-header {
    border-bottom: 1px solid #007bff;
    height: 50px;
    padding: 10px 15px;
}
.chat-popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-popup-header-right {
    cursor: pointer;
}
.chat-popup-content {
    padding: 10px;
}
.chat-popup-form {
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding: 0 10px;
}
.chat-popup-form-left {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-popup-form-left input {
    height: 50px;
    width: 230px;
    border-radius: 10px;
    border: 1px solid #007bff;
    outline: none;
    padding: 10px 35px 10px 10px;
}
.chat-popup-form-left span {
    position: absolute;
    right: 10px;
    bottom: 15px;
    color: #007bff;
}
.notification-detail-area-content-item-top-action {
    color: #007bff;
    cursor: pointer;
    margin-left: 5px;

}
.notification-detail-area-content-item-right {
    cursor: pointer;
    color: red;
}
.chat-staff-list-waiting-chat {
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 600px;
    height: 400px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: white;
}
.chat-staff-list-waiting-chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #007bff;
}
.chat-staff-list-waiting-chat-header-left span{
    font-weight: 500;
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
}
.chat-staff-list-waiting-chat-header-left span:hover {
    text-decoration: underline;
}
.chat-staff-list-waiting-chat-header-right {
    font-size: 18px;
    cursor: pointer;
}
.chat-staff-list-waiting-chat-content-name,.chat-staff-list-waiting-chat-content-name-item {
    width: 30%;
    font-weight: 500;
    font-size: 18px;
}
.chat-staff-list-waiting-chat-content-process,.chat-staff-list-waiting-chat-content-process-item {
    width: 20%;
    font-weight: 500;
    font-size: 18px;
}
.chat-staff-list-waiting-chat-content-name-item, .chat-staff-list-waiting-chat-content-process-item {
  font-weight: normal;
    font-size: 16px;
}

.chat-staff-list-waiting-chat-content-header,.chat-staff-list-waiting-chat-content-item {
    display: flex;
    align-items: center;
}
.chat-staff-list-waiting-chat-content-header {
    background-color: #f2f2f2;
    padding: 10px ;
}
.chat-staff-list-waiting-chat-content-item {
    margin: 10px 0;
}
.chat-staff-list-waiting-chat-content {
    padding: 10px;
}